.main__box {
  display: flex;
  .song-grid {
    flex-grow: 1;
    padding: 0 20px;
  }
}

.nav {
  width: 150px;
  padding-left: 30px;
  font-size: 15px;
  li {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 20px 0;
  }
}
