nav.nav
    ul
        li 
            a(href="/") 홈
                i.fas-fa-user
        li 
            a(href="/") 인기차트
        li 
            a(href="/songs/upload") 노래 등록
        li 
            a(href="/join") 나의 플레이리스트
        li 
            a(href="/users/logout") 뮤직비디오